<configuration>
   <system.runtime.remoting>
      <application>
         <client>
            <wellknown 
               type="Blockly3PiHost.RemoteLaunch.Launcher, Blockly3PiHost"
               url="http://localhost:8989/Launcher.rem"
            />
         </client>
      </application>
   </system.runtime.remoting>
</configuration>
